<!DOCTYPE html>
<html lang="en">
  
<head>
  <%- include('../partials/head'); %>
  <link href="/CSS/index.css" rel="stylesheet" type="text/css">   
</head>
<body class="container">

<header>
  <%- include('../partials/navbar'); %>
</header>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>